<h2><%= @contact.subject%></h2>

<div><%= "#{@contact.first_name} #{@contact.last_name}" %></div>
<div><%= @contact.email %></div>
<br>
<div><%=@contact.description%></div>

<%= link_to 'Back', contacts_path%>
